.section__headerButtons {
    display: flex;
}

.section__headerButton {
    color: teal;
    border: none;
    font-size: 18px;
    background-color: transparent;
    padding: 20px;
}

@media (max-width:767px) {

    .section__headerContainer {
        display: flex;
        flex-direction: column;
    }

    .section__header {
        align-self: flex-start;
    }

    .section__headerButtons {
        flex-direction: column;
    }
}

.section__headerButton:hover {
    color: hsl(180, 100%, 35%);
    transition-duration: 0.5s;
    cursor: pointer;
}

.section__headerButton:disabled {
    color: #999;
    cursor: auto;
}